In [1]:
import pandas as pd

In [2]:
ticker = pd.read_parquet('../ticker.parquet')

In [3]:
ticker.head()

,local_ts,seq,remote_ts,remote_ts2,bid_price,bid_amount,ask_price,ask_amount
0,1679443200002269696,2664656597671,1679443199998,1679443199993,28091.1,0.885,28091.2,17.243
1,1679443200023076352,2664656597814,1679443200001,1679443199996,28091.1,0.685,28091.2,17.243
2,1679443200025819392,2664656597962,1679443200003,1679443199999,28091.1,0.685,28091.2,17.223
3,1679443200041581312,2664656598238,1679443200007,1679443200003,28091.1,0.686,28091.2,17.223
4,1679443200045155072,2664656598743,1679443200015,1679443200010,28091.1,0.686,28091.2,16.635