In [1]:
import pandas as pd

In [2]:
trades = pd.read_parquet('../trades.parquet')

In [3]:
trades.head()

,local_ts,seq,remote_ts,remote_ts2,price,amount,side
0,1679443200000453376,3467110982,1679443199997,1679443199993,28091.1,0.001,S
1,1679443200001720832,3467110983,1679443199997,1679443199993,28091.1,0.003,S
2,1679443200022432256,3467110984,1679443200001,1679443199996,28091.1,0.007,S
3,1679443200022432406,3467110985,1679443200001,1679443199996,28091.1,0.001,S
4,1679443200022597888,3467110986,1679443200001,1679443199996,28091.1,0.004,S